{{extends "layout.html"}}


{{block css}}

<style>

  html {
    --gallery_row_height: 200px;
  }

  @media (max-width: 996px) {
    html {
      --gallery_row_height: 400px;
    }
  }

  .gallery_section {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery_section::after {
    content: '';
    flex-grow: 999999999;
  }
  
  .gallery {
    margin: 3px;
    background-color: var(--gray);
    position: relative;
  }

  .gallery_padding {
    display: block;
  }
  .gallery_photo {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }

  .gallery_description {
    margin-top: -15px;
    position: absolute;
    font-size: x-small;
  }

  .background_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    opacity: 0;
    inset: 0;    

    visibility: hidden;
    transition:
      opacity 180ms ease,
      visibility 180ms ease;
  }

  .background_overlay.open {
    opacity: 0.8;
    visibility: visible;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    height: max-content;
    
    max-width: 80vw;
    max-height: 80vh;

    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 10px;
    position: fixed;
    
    opacity: 0;
    visibility: hidden;
    
    transition:
      opacity 200ms ease,
      visibility 200ms ease;    
  }
  
  .popup.open {
    opacity: 1;
    visibility: visible;
  }

  .popup_photo {
    width: 100%;
    max-height: calc(80vh);
    object-fit: contain;
  }

  .popup_container {
    display: flex;    
  } 
  .popup_left_column {
    flex: 1;     
  }
  .popup_right_column {
    padding-left: 10px;  
  } 

  .metadata_line {
    display: grid;
    font-size: smaller;
    color: var(--gray);
    grid-template-columns: 120px auto;    
  }

  @media (max-width: 996px) {
    .popup_container {
      display: block;    
    }
    .popup_right_column {
      padding-left: 0px;  
    } 
    .metadata_line {
      grid-template-columns: 300px auto;    
    }
  }

</style>
{{endBlock}}

{{block js}}
  <script>
    
    function openPopUp(gallery) {
      const photo = gallery.querySelector(".gallery_photo");
    
      const popup = document.querySelector(".popup");
      const background_overlay = document.querySelector(".background_overlay");
    
      const popupPhoto = document.createElement("img");
      popupPhoto.src = photo.src;
      popupPhoto.className = "popup_photo"
      
      const photo_origin = document.querySelector(".popup_left_column");
      photo_origin.innerHTML = "";

      photo_origin.appendChild(popupPhoto);

      const metadata_origin = document.querySelector(".popup_right_column");

      metadata_origin.innerHTML = "<h3>Metadata</h3>";

      const metadata = [
        ["Date", gallery.dataset.date],
        ["Model", gallery.dataset.model],
        ["Time", gallery.dataset.time],
        ["ISO", gallery.dataset.iso],
        ["Exposure", gallery.dataset.exposure_time],
        ["Aperture", gallery.dataset.f_number],
        ["Focal length", gallery.dataset.focal_length],
      ];

      let no_info = true

      for (const [key, value] of metadata) {
        if (!value) continue;
        
        no_info  = false

        const line = document.createElement("div");
        line.className = "metadata_line"
        
        const metadata_key = document.createElement("span");
        metadata_key.textContent = `${key}:`;

        const metadata_value = document.createElement("span");
        metadata_value.textContent = value;

        line.append(metadata_key, metadata_value);

        metadata_origin.appendChild(line);
      }

      if (no_info) {
        const line = document.createElement("div");
        line.className = "metadata_line"
        line.textContent = "No metadata"
        metadata_origin.appendChild(line);
      }

      popup.classList.add("open");
      background_overlay.classList.add("open");
    }
    
    function closePopUp() {
      document.querySelector(".popup").classList.remove("open");
      document.querySelector(".background_overlay").classList.remove("open");
    }

    document.addEventListener("keydown", (event) => {
      if (event.key === "Escape") {
        closePopUp();
      }
    });
  </script>
{{endBlock}}


{{block body}}

<div class="panel">
  Some photo's I like
</div>

<!-- Inspired by: https://github.com/xieranmaya/blog/issues/6 -->

{{for photo_collection in gallery}}

<div class="panel">
  <h2>{{photo_collection.label}}</h2>

  <section class="gallery_section">
    {{for photo in photo_collection.photos}}
      <div 
        class="gallery" 
        style="--w: {{photo.width}}; --h: {{photo.height}}; flex-basis: calc(var(--gallery_row_height) * var(--w) / var(--h)); flex-grow: calc(var(--w) / var(--h))"
        onclick="openPopUp(this)"

        {{if photo.metadata}}
          data-model="{{photo.metadata.model}}"
          data-date="{{date photo.metadata.datetime_original "date" }}"
          data-time="{{date photo.metadata.datetime_original "time" }}"
          data-iso="{{photo.metadata.iso}}"
          data-exposure_time="{{if photo.metadata.exposure_time}} {{photo.metadata.exposure_time}} {{endIf}}"
          data-f_number="{{photo.metadata.f_number}}"
          data-focal_length="{{photo.metadata.focal_length}}"
    
        {{endIf}}

        >
        <i class="gallery_padding" style="padding-bottom: calc(var(--h) / var(--w) * 100%)"></i>
        <img class="gallery_photo" loading="lazy" src="{{photo.path}}">


      </div>

      {{endFor}}
    </section>
  </div>
{{endFor}}

{{endBlock}}


{{block popup}} 
<div class="background_overlay" onclick="closePopUp()"></div>

<div class="popup">
  <div class="popup_container">
    <div class="popup_left_column"></div>
    <div class="popup_right_column"></div>
  </div>
</div>
{{endBlock}}



