{{extends "layout.html"}}


{{block css}}

<style>
  .gallery_section {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery_section::after {
    content: '';
    flex-grow: 999999999;
  }
  
  .gallery {
    margin: 3px;
    background-color: var(--gray);
    position: relative;
  }

  .gallery_padding {
    display: block;
  }
  .gallery_photo {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }
  .content {
    width: 100%;
  }
</style>
{{endBlock}}

{{block body}}

<div class="panel">
  Some photo's I like
</div>

<!-- Inspired by: https://github.com/xieranmaya/blog/issues/6 -->
<section class="gallery_section panel">
{{for photo in gallery}}

  <div class="gallery" style="--w: {{photo.width}}; --h: {{photo.height}}; flex-basis: calc(150px * var(--w) / var(--h)); flex-grow: calc(var(--w) / var(--h))">
    <i class="gallery_padding" style="padding-bottom: calc(var(--h) / var(--w) * 100%)"></i>
    <img class="gallery_photo" src="{{photo.path}}">
  </div>

  {{endFor}}
</section>

{{endBlock}}