{{extends "layout.html"}}


{{block css}}



<style>
  .post_entry {
    color: var(--white);
    display: flex;     
    gap: 2;       
  }  

  .post_title {
    color: var(--white);
    font-family: 'Future Mono', monospace;
  }
  .post_date {
    font-style: italic;
    color: var(--gray);
    margin-left: auto;
    padding-right: 10px;
  }
  .post_summary {
    /* font-style: italic; */
    color: var(--gray);

  }

</style>
{{endBlock}}


{{block body}}

{{for post in posts}}
<a href="/posts/{{post.slug}}">

  <div class="post_entry panel">
    <div>
      <p class="post_title">{{post.title}}</p>
      <p class="post_summary">{{post.summary}}</p>
    </div>
    <p class="post_date">{{date post.published "month-name-short-day-year"}}</p>
  </div>
</a>


{{endFor}}

{{endBlock}}