{{extends "layout.html"}}


{{block js}}
{{if post.highlighted_langs}}
  <!-- Syntax highlighting -->
  <link href="/css/prism.css" rel="stylesheet" />
  <script src="/js/prism-core.js"></script>
  
  {{for lang in post.highlighted_langs}}
    <script src="/js/prism-{{lang}}.js"></script>
  {{endFor}}

{{endIf}}

{{endBlock}}


{{block css}}
<style>
  .post {
    padding: 20px;
    margin: 2rem;
  }

</style>
{{endBlock}}

{{block body}}
<div class="post">
  {{post.content}}

</div>

{{endBlock}}