{{extends "layout.html"}}


{{block css}}



<style>
  .post_entry {
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin: 20px;
    margin-left: 10px;
    display: flex;     
    gap: 2;           
  }  

  .post_title {
    color: white;
  }
  .post_date {
    font-style: italic;
    color: gray;
    margin-left: auto;
    padding-right: 10px;
  }
</style>
{{endBlock}}


{{block body}}

{{for post in posts}}
<div class="post_entry">

  <a href="/posts/{{post.slug}}" class="post_title">{{post.title}}</a>
  
  <p class="post_date">{{post.published}}</p>
</div>


{{endFor}}

{{endBlock}}