{{extends "layout.html"}}

{{block meta}}
  <title>{{ post.title }}</title>
  <meta name="description" content="{{ post.summary }}">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:description" content="{{ post.summary }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://{{ domain }}/posts/{{ post.slug }}">
  <meta property="og:image" content="https://{{ domain }}/images/image.png">
{{endBlock}}

{{block js}}
{{if post.highlighted_langs}}
  <!-- Syntax highlighting -->
  <link href="/css/prism.css" rel="stylesheet" />
  <script src="/js/prism-core.js"></script>
  
  {{for lang in post.highlighted_langs}}
    <script src="/js/prism-{{lang}}.js"></script>
  {{endFor}}

{{endIf}}

{{endBlock}}


{{block css}}
<style>
  .post {
    padding: 20px;
    margin: 2rem;
  }

</style>
{{endBlock}}

{{block body}}
<div class="post">
  {{post.content}}
</div>

{{endBlock}}