{{extends "layout.html"}}


{{block css}}



<style>
  .post_entry {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--black);
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    display: flex;     
    gap: 2;           
  }  

  .post_title {
    color: var(--white);
    font-family: 'Future Mono', monospace;
  }
  .post_date {
    font-style: italic;
    color: var(--gray);
    margin-left: auto;
    padding-right: 10px;
  }
  .post_summary {
    /* font-style: italic; */
    color: var(--gray);

  }
</style>
{{endBlock}}


{{block body}}

{{for post in posts}}
<div class="post_entry">
  <div>
    <a href="/posts/{{post.slug}}" class="post_title">{{post.title}}</a>
    <p class="post_summary">{{post.summary}}</p>
  </div>
  <p class="post_date">{{date post.published "date"}}</p>
</div>


{{endFor}}

{{endBlock}}