{{extends "layout.html"}}

{{block css}}
<style>
  .stat_entry {
    border: 1px solid var(--white);
    color: var(--white);
    padding: 10px;
    margin-top: 20px;
    background-color: var(--black);
    display: flex;     
  }  

  .url {
    font-style: italic;
    color: var(--gray);
    
  }  

  .stats {
    margin-left: auto;
    padding-right: 10px;
  }
  
  .stats_description {
    margin-top: 10px;
  }

</style>
{{endBlock}}

{{block body}}
<div class="stats_description"> 
  Start time: {{stats.start_time}}
</div>
{{for page in stats.pages}}

<div class="stat_entry">
  <a class="url" href="{{page.path}}">{{page.path}}</a>
  
  <div class="stats">
    <p>Total hits:&nbsp{{page.count}}</p>
    <p>Avg time:&nbsp&nbsp&nbsp{{page.avg}}</p>

  </div>

</div>

{{endFor}}

{{endBlock}}