<!DOCTYPE html>
<head>
  {{if hotreload}}
  <script>
    const ws = new WebSocket("ws://127.0.0.1:4000/ws");
    ws.onopen = () => console.log("Websocket connected!");
    ws.onmessage = (event) => {
      if ( event.data == "reload" ) {
        window.location.reload();
      };
    }
    </script>
  {{endIf}}  

</head>

<body>
    {{for page in pages-static}}
      <a href="{{page.url}}">{{page.name}}</a>
    {{endFor}}
    
    {{block title}} <h1>default</h1> {{endBlock}}
    {{block body}} <h1>default</h1> {{endBlock}}
</body>